<div class="page-header header1">
  Aanvraag voor lidmaatschap
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-10 col-md-8 page-box">
      <p>
        Uw aanvraag wordt in behandeling genomen. U krijgt bericht per email over de activering van uw lidmaatschap.
      </p>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :horizontal_form) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.input :first_name, label: "Voornaam",required: false %>
          <%= f.input :tussenvoegsel, required: false  %>
          <%= f.input :last_name, label: "Achternaam", required: true %>
          <%= f.input :initials, label: "Initialen", required: false  %>
          <%= f.input :street, label: "Straat", input_html: { class: 'input-straat' } ,required: true %>
          <%= f.input :streetnumber, label: "Huisnr.", input_html: { class: 'input-number' }, required: true  %>
          <%= f.input :number_extension, label: "toevoeging", input_html: { class: 'input-number' }, required: false  %>
          <%= f.input :postalcode, label: "Postcode", input_html: { class: 'input-postcode' }, required: true  %>
          <%= f.input :city, label: "Stad", input_html: { class: 'input-plaats' }, required: true  %>
          <%= f.input :phonenumber, label: "Tel. nummer", required: true  %>
          <!-- <div class="flex">
          <span class="gob">Geboortedatum:</span>
          <%#= f.input :dob, start_year: Date.today.year - 80,
                              end_year: Date.today.year - 20,
                              required: true, label: false  %>
          </div> -->
          <%= f.association :expertise, label: "Specifieke deskundigheid", required: false  %>
          <%= f.association :targetaudience, label: "Patientengroep", required: false  %>
          <%= f.input :big, label: "BIG-nummer", required: false  %>
          <%= f.input :practice_name, label: "Naam praktijk", required: false  %>
          <%= f.input :practice_street, label: "Straat praktijk", input_html: { class: 'input-straat' }, required: false  %>
          <%= f.input :practice_streetnumber, label: "Huisnr.", input_html: { class: 'input-number' }, required: false  %>
          <%= f.input :practice_number_extension, label: "toevoeging", input_html: { class: 'input-number' }, required: false  %>
          <%= f.input :practice_postalcode, label: "Postcode", input_html: { class: 'input-postcode' }, required: false  %>
          <%= f.input :practice_city, label: "Stad", input_html: { class: 'input-plaats' }, required: false  %>
          <%= f.input :practice_email, label: "emailadres praktijk", required: false  %>
          <%= f.input :practice_phonenumber, label: "Tel. Nummer praktijk", required: false  %>
          <%= f.input :website, required: false  %>
          <%= f.input :contract, label: "Heeft u een contract met een verzekeraar?", required: true  %>
          <%= f.input :buddy, label: "Heeft u behoefte aan een collega/gids/vraagbaak die u opweg kan helpen?", required: true  %>
          <%= f.input :training_suggestion, label: "Heeft u wensen of tips t.a.v. het  nascholingsprogramma?", required: false  %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Verzend", class: "knop" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "annuleer", root_path, class: "knop knop-linksonder" %>
